body {
  background-color: #AFBECD;
  font-family: 'Open Sans', sans-serif;
  color: #8793A0;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col{
  width: 50%;
  float: left;
}
h1 {
  color: white;
  font-size: 47px;
}
h2 {
  color: #8793A0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #8E9CAA;
  text-decoration: none;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 775px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  body {
    background-color: white;
    color: #AFBECD;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
    color: #8793A0;
  }
  a {
    color: #AFBECD;
  }
}
