body {
  background-color:  #F9B5AC;
  margin: 0;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}
p {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #EE7674;
  font-weight: bold;
  text-align: center;
  line-height: .1em;
}
.bigger {
  font-size: 2.5em;
  padding-top: .2em;
}
div {
  margin-top: 40vh;
}
.mobile-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #EE7674;
  }
  p {
    color: #F9B5AC;
    font-family: 'Rock 3D', serif;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
